<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

    <head>
        <title>Drycker</title>
        <meta charset="utf-8" />
    </head>

    <body>
        <h1>Drycket</h1>

        <ul>
            <li th:each="annos: ${annokset}">
                <a th:href="@{~/{id}(id=${annos.id})}"><span th:text="${annos.nimi}">dryck nam</span></a>
                <form th:action="@{~/poista/{id}(id=${annos.id})}" method="POST">
                    <input type="submit" value="Radera"/>
                </form>
            </li>
        </ul>
        
        <h4>Lägg till ny</h4>
        
        <form method="POST" action="/uusi">
            <span>Dryck namn:</span><br/>
            
            <input type="text" name="nimi"/><br/>
            Recept
            <br/>
                <input type="text" name="ohje" />
            <br>
            <input type="submit" value="Lägg"/>
        </form>
        
        <h4>Tillsätt ingredienser</h4>
        

        <form method="POST" action="/lisaaminen">
            Dryck namn:
            <br>
                <select name="drinkki">
                    <option th:each="annos: ${annokset}">

                        <span th:text="${annos.nimi}">annoksen nimi</span>



                    </option>
                    
                </select>
            <br>
            Ingrediens
            <br>
                <select name="raakaAine">
                    <option th:each="raakaaine: ${raakaaineet}">



                        
                        <span th:text="${raakaaine.nimi}">Ingrediens namn</span>
                        
                    </option>
                </select>
            <br>
            Ordernummer
            <br>
               <input type="text" name="jarjestys">
                
            <br>
            Belopp
            <br>
                
                     <input type="text" name="maara">
            
            <br>
            Tilläggsinstruktioner
            <br>
                <input type="text" name="lisaohje">

            <br>
                <input value="Lägg" type="submit">
            
                    
           
        </form>
        
        <br>
        <a href="/">Till frontsidan</a>
        
    </body>
</html>